/* Font Imports */
@import url(https://fonts.googleapis.com/css?family=Roboto:900|Roboto+Mono:300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

/* Print Styles */
@media print {
  *,
  :after,
  :before {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  figure {
    margin: 0;
  }
}

abbr[data-original-title],
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #777;
}
.initialism {
  font-size: 90%;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid\9;
  content: "";
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}

/* Visibility Classes */
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}

body {
  padding: 10px;
  min-height: 100vh;
}
body.minimal {
  border: none;
  padding: 0;
}
.hero-full-container {
  height: 100vh;
}
.hero-full-container h1 {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 900;
}
.hero-full-container .hero-full-wrapper {
  display: table;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
}
.hero-full-container .hero-full-wrapper .text-content {
  vertical-align: middle;
  display: table-cell;
}
.white-text-container h1,
.white-text-container h2,
.white-text-container h3,
.white-text-container h4,
.white-text-container h5,
.white-text-container p {
  text-shadow: 0 1px 3px #000;
  color: #fff;
}
.white-text-container a {
  color: #fff;
}
.section-container-spacer {
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .section-container-spacer {
    margin-bottom: 40px;
  }
}
.section-container {
  padding: 60px 0;
}
@media (min-width: 1200px) {
  .section-container {
    padding: 80px 0;
  }
}
.section-container.only-container {
  min-height: 84vh;
}

.background-image-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

body,
p {
  font-weight: 300;
  letter-spacing: 0.8px;
  line-height: 25px;
}
p {
  margin: 0 0 15px;
}
.h2,
h2 {
  position: relative;
  display: inline-block;
}
.h2:after,
.h2:before,
h2:after,
h2:before {
  content: "";
  position: absolute;
  height: 100%;
  background-color: #000;
  width: 1px;
}
.h2:before,
h2:before {
  left: 0;
}
.h2:after,
h2:after {
  right: 0;
}
@media (min-width: 992px) {
  .h2,
  h2 {
    padding: 0 30px;
  }
}
@media (max-width: 992px) {
  .h2:after,
  .h2:before,
  h2:after,
  h2:before {
    display: none;
  }
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-bottom: 20px;
}
blockquote {
  font-family: Roboto Mono, Helvetica, Arial, sans-serif;
  border: none;
  padding-left: 0;
  padding-right: 0;
  font-size: 2.81em;
}
blockquote,
blockquote p {
  font-weight: 700;
  line-height: 40px;
}
blockquote .small,
blockquote small {
  color: #000;
  font-weight: 400;
  font-size: 50%;
}
.fa-icon {
  color: #000;
  width: 32px;
  height: 32px;
  display: inline-block;
  line-height: 32px;
  font-size: 15px;
  text-align: center;
}

.form-control:focus {
  border-color: #000;
  outline: 0;
  box-shadow: none;
}
label {
  font-weight: 400;
}
textarea {
  max-width: 100%;
}
@media (max-width: 992px) {
  .address-container {
    margin-top: 20px;
  }
}
.card-container {
  background-color: #fff;
  padding: 2rem 5rem;
  position: relative;
  width: 80%;
  margin: -10em auto 20px;
}
@media (max-width: 992px) {
  .card-container {
    padding: 2rem;
    margin-top: -5em;
  }
}

.black-image-project-hover {
  display: block;
}
.black-image-project-hover img {
  -webkit-filter: contrast(200%) grayscale(100%);
  filter: contrast(200%) grayscale(100%);
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.black-image-project-hover img:hover {
  filter: none;
}
@media (max-width: 992px) {
  .black-image-project-hover img {
    filter: none;
  }
}

.navbar {
  border: none;
  min-height: inherit;
  position: absolute !important;
}

@media (min-width: 768px) {
  .navbar-default .navbar-collapse,
  .navbar-inverse .navbar-collapse {
    margin: 0;
    padding: 30px 0;
  }
  .navbar-default .navbar-collapse .navbar-nav,
  .navbar-inverse .navbar-collapse .navbar-nav {
    padding: 0;
  }
}
.navbar-default .navbar-toggle,
.navbar-inverse .navbar-toggle {
  padding: 20px;
  margin: 0;
  border: none;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
  background-color: #fff;
}

@media (min-width: 768px) {
  .navbar-inverse .navbar-nav > li > a {
    border-right: 1px solid #fff;
  }
}
.navbar-inverse .navbar-nav > li:last-of-type a {
  border-right: none;
}
@media (min-width: 768px) {
  .navbar-default .navbar-nav > li > a {
    border-right: 1px solid #000;
  }
}
.navbar-default .navbar-nav > li:last-of-type a {
  border-right: none;
}

@media (max-width: 768px) {
  .navbar-inverse {
    background-color: transparent;
  }
  .navbar-inverse .navbar-collapse {
    background-color: #000;
  }
  .navbar-default {
    background-color: transparent;
  }
  .navbar-default .navbar-collapse {
    background-color: #fff;
  }
}

.template-example .template-title-example:after,
.template-example .template-title-example:before {
  display: none;
}
.template-example .table > tbody > tr > td,
.template-example .table > tbody > tr > th,
.template-example .table > tfoot > tr > td,
.template-example .table > tfoot > tr > th,
.template-example .table > thead > tr > td,
.template-example .table > thead > tr > th {
  padding: 0 15px;
}
.list-icons {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-icons li {
  float: left;
  margin-right: 5px;
}

.navbar {
  background-color: transparent !important;
  border-color: transparent !important;
}

.name {
  text-align: right;
  margin-top: 1%;
  color: #9d9d9d;
  padding-left: 20%;
}

/*# sourceMappingURL=main.70a66962.map*/
.projects {
  margin-bottom: 25px;
}

.typed {
  text-align: center !important;
}

/* Flexbox utilities for button alignment */
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container .btn-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.card-container .btn-container .btn {
  margin: 0 5px;
}

.navbar-toggle {
  background-color: transparent !important;
}

/* Fix the hamburger menu icon at the top of the navbar */
@media (max-width: 1000px) {
  .navbar-toggle .icon-bar {
    position: sticky !;
    top: 10px; /* Adjust this value as needed */
    right: 10px; /* Adjust this value as needed */
  }
}

.content-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content-row .col-xs-10 {
  margin-top: 20px; 
}

.content-row .col-xs-7 {
  padding-right: 20px
}

.rounded-frame {
  width: 450px; 
  border-radius: 15%; 
  margin-top: 40px; 
}

@media (max-width: 767px) {
  .content-row {
    flex-direction: column;
    align-items: flex-start;
  }
}
